<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
     <div class="main-content">
        {{>header}}

        {{!-- <h1>{{title}}</h1> --}}
        <img class="portrait" src="./img/Screenshot from 2021-09-04 10-20-53.png">
        <p> Created by {{name}}</p>
    </div>
     {{>footer}}
</body>
</html>